*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
}

body{
    background-color: #c7c7c7;
}

a{
    color: inherit;
    text-decoration: none;
}

input,select{
    outline: none;
    border: none;
}

.px-5{
    padding-left:1.25rem ;
    padding-right: 1.25rem;
}


.main-header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: #0F1111;
    color: white;
    height: 5rem;
    align-items: center;
}

.header-div-hover{
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: 200ms;
    border: 1px solid rgba(255, 255, 255, 0);
}

.header-div-hover:hover{
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.lable-heading p{
    white-space: nowrap;
    font-size:0.75rem;
    color: rgb(219, 219, 219);
    font-weight: 500;
}

.lable-heading h4{
    white-space: nowrap;
    font-size: 1rem;
    font-weight:600;
}
.main-header .del-sec{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    
}


.main-header .del-sec i{
    font-size: 1.25rem;
    margin-top: 1rem;
}

.main-header .search-sec{
    display: flex;
    height: 3rem;
    width: 600px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.main-header .search-sec input{
   width: 100%;
   padding: 0 0.25rem;
   font-size: 1rem;
   font-weight: 500;
   color: rgb(46, 46, 46);
}

.main-header .search-sec input:focus{
    border: 1px solid red;
}

.main-header .search-sec select{
    background-color: rgb(210, 210, 210);
    padding: 0.25rem;
}

.main-header .search-sec button{
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background-color: rgb(255, 196, 0);
}

.main-header .search-sec button i{
    font-size: 1.25rem;
}

.main-header .lang-sec{
    display: flex;
    gap: 0.25rem;
}

.main-header .cart-sec{
    display: flex;
    align-items: end;
}

.main-header .cart-sec i{
    font-size: 2.5rem;
}

#menu-btn{
    display: none;
    background-color: transparent;
    border: none;
}

#menu-btn i{
    color: white;
    font-size: 1.75rem;
}

/* for Tablet Device*/
@media screen and (max-width:980px) {

    .main-header .lang-sec{
        display: none;
    }

    .main-header .account-sec{
        display: none;
    }
    .main-header .order-sec{
        display: none;
    }
    .main-header .cart-sec{
        display: none;
    }

    #menu-btn{
        display: block;
    }
}


/* for Mobile Device */

@media screen and (max-width:600px) {

    .logo{
        width: 60px;
    }

    .main-header .del-sec{
        display: none;
    }

    .main-header .search-sec{
        width: 300px;
    }
}


.navbar{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    height: 2.5rem;
    background-color: #232f3e;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.85rem;
    font-weight: 500;
}

/* Carousel Sec */

.carousel-sec{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2025/GW/BAU/Unrec/PC/934044814._CB551384116_.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-sec >div{
    padding-bottom: 2rem;
    background-image: linear-gradient(transparent,rgb(168, 168, 168));
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 0px 1.5rem;
}

.cards-container > div{
    background-color: white;
    padding: 1rem 1.25rem;
}

.cards-container > div >div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    margin: 1rem 0;
}

.cards-container > div >div img{
    height:150px;
    width: 100%;
    object-fit: contain;
}
.cards-container > div >div p{
  font-size: 0.75rem;
  font-weight: 500;
}

.cards-container > div a{
   font-size: 0.825rem;
   color: rgb(0, 103, 163);
   font-weight: 500;
 }
.cards-container > div a:hover{
   color: rgb(163, 54, 0);
   cursor: pointer;
 }

 /* Tablet Device */

 @media screen and (max-width:1080px) {
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }    
 }

 @media screen and (max-width:600px) {
    .cards-container{
        grid-template-columns: repeat(1, 1fr);
    }    
 }